



<section class="about wow animated fadeUpDown" id="about">
        <!-- <div class="about__box"> -->
        <h1 class="about__head text-h2 m-header center">Biz</h1>
        <p class="about__text text-normal line-height-big">Pozitif çalışma anlayışıyla her türlü detayda
            müşterilerimizi memnun edebilmek
            için çaba gösterir, hedef kitleye yönelik uygulamalarda müşterilerimizin belirlediği hedefe emin ve
            doğru adımlarla ilerleyişini sağlamak için biriktirdiğimiz tüm deneyimimizle var gücümüzle
            çalışırız.</p>
        <p class="about__text text-normal line-height-big">
            1999 yılında VİLDAN ve GÖKHAN MUMCU kardeşler
            tarafından kurulan VEGA AGENCY &
            EVENT, bugüne kadar otomotiv, telekomünikasyon, tekstil, moda, gıda, kozmetik ve turizm başta olmak
            üzere onlarca sektörde yer alan yüzlerce firmayla başarılı organizasyonlara imza atmıştır. VEGA
            AGENCY
            & EVENTS, merkezi İstanbul olmak üzere Türkiye genelinde hizmet vermekte olup, 2007 yılı itibariyle
            Almanya’nın
            Bielefeld şehrinde VEGA AGENTUR olarak yurtdışındaki firmalarımıza da hizmet vermeye devam
            etmektedir.
            Dünya yeni milenyuma hazırlanırken, Vildan ve Gökhan Mumcu kardeşler 2000’e bir kala ilk hayalleri
            olan
            VEGA’yı kurdular.
        </p>
        <p class="about__text text-big line-height-big">
            VEGA’nın kurulduğu günden bu güne ilkesi, <b>“Başka yerden bakmak"</b> tır.
            O,<b>“Bir başka olmayı” </b>seviyor..
        </p>
        <p class="about__text text-normal line-height-big">Dünya hızlanmaya başlıyordu VEGA da kendi
            dünyasını onunla yarıştırmaya başladı. En iyiler hayatımıza dahil olmaya başladıkca o da en iyileri
            bir araya getirmek için VEGA bünyesinde İnsan Kaynakları , Menajerlik ve Produksion departmanlarını
            kurdu. Kısa zaman içinde her yeri sarıp sarmalayan teknoloji Dünya’ya hızla kendi ayakkabılarını
            giydirmeye başlayınca VEGA da kurumsal kostüm üretim departmanını hayata geçirerek etkinlikleri
            kendi imzası ile giydirmeye başladı.
        </p>
        <!-- </div> -->
    </section>

