
    
<section class="celebrity wow animated fadeUpDown" id="celebrity">
        <h1 class="celebrity__header text-h2 m-header center">Sanatçılarımız</h1>
        <p class="celebrity__desc text-normal center line-height-big mbb">Ailemize her yeni katılım ile daha
            güçleniyoruz. Güçlendikçe VEGA’nın hizmet
            yelpazesini genişleterek yolumuza devam ediyor ve daha fazla müşteriyi memnun etme şansına sahip
            oluyoruz…
        </p>
        <div class="celebrity__wrapper">
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/GOKHAN TURKMEN/gokhan_turkmen_t.jpg" alt="Gökhan Türkmen" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Gökhan Türkmen</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/OYLUM TALU/oylum_talu_t.jpg" alt="Oylum Talu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Oylum Talu</h3>
                    <a href="celebrity_detail.html" class="btn btn--yellow btn-center mtb">Detay</a>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/MURAT AYGEN/murat_aygen_t.jpg" alt="Murat Aygen" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Murat Aygen</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/SIMGE FISTIKOGLU/simge_fistikoglu_t.jpg" alt="Simge Fıstıkoğlu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Simge Fıstıkoğlu</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/TAN SAĞTÜRK/tan_sagturk_t.jpg" alt="Tan Sağtürk" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Tan Sağtürk</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/AYŞE TOLGA/Ayşe_Tolga_t.jpg" alt="Ayşe Tolga" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Ayşe Tolga</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/GÖKHAN MUMCU/gokhan_mumcu_t.jpg" alt="Gökhan Mumcu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Gökhan Mumcu</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/CEREN AKSAN/ceren_aksan_t.jpg" alt="Ceren Aksan" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Ceren Aksan</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/BÜLENT ŞAKRAK/bulent_sakrak_t.jpg" alt="Bülent Şakrak" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Bülent Şakrak</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/OZGE UZUN/ozge_uzun_t.jpg" alt="Özge Uzun" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Özge Uzun</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/MURAT GULOGLU/murat_guloglu_t.jpg" alt="Murat Güloğlu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Murat Güloğlu</h3>

                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/DİLARA GÖNDER/dilara_gonder_t.jpg" alt="Dilara Gönder" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Dilara Gönder</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/DJ DOĞUŞ ÇABAKCOR/dj_dogus_cabakcor_t.jpg" alt="DJ Doğuş Çabakçor"
                    class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">DJ Doğuş Çabakçor</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/CEYLAN SANER/ceylan_saner_t.jpg" alt="Ceylan Saner" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Ceylan Saner</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/EGE CUBUKCU/ege_cubukcu_t.jpg" alt="Ege Çubukçu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Ege Çubukçu</h3>
                </figcaption>
            </figure>

            <figure class="celebrity__item">
                <img data-src="/img/celebrity/NEBİL EVREN/nebil_evren_t.jpg" alt="Nebil Evren" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Nebil Evren</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/CANSU CANAN OZGEN/cansu_canan_ozgen_t.jpg" alt="Cansu Canan Özgen"
                    class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Cansu Canan Özgen</h3>
                </figcaption>
            </figure>

            <figure class="celebrity__item">
                <img data-src="/img/celebrity/MERVE YILDIRIM/merve_yildirim_t.jpg" alt="Merve Yıldırım" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Merve Yıldırım</h3>
                </figcaption>
            </figure>

            <figure class="celebrity__item">
                <img data-src="/img/celebrity/BORA UZER/bora_uzer_t.jpg" alt="Bora Uzer" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Bora Uzer</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/BUKET AYDIN/buket_aydin_t.jpg" alt="Buket Aydın" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Buket Aydın</h3>
                </figcaption>
            </figure>

            <figure class="celebrity__item">
                <img data-src="/img/celebrity/MEYRA/meyra_t.jpg" alt="Meyra" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Meyra</h3>
                </figcaption>
            </figure>

            <figure class="celebrity__item">
                <img data-src="/img/celebrity/DJ CAFI/dj_cafi_t.jpg" alt="DJ Cafi" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">DJ Cafi</h3>
                </figcaption>
            </figure>

            <figure class="celebrity__item">
                <img data-src="/img/celebrity/OZLEM KAYMAZ/ozlem_kaymaz_t.jpg" alt="Özlem Kaymaz" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Özlem Kaymaz</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ELIF OZKUL/elif_ozkul_t.jpg" alt="Elif Özkul" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Elif Özkul</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/GÖKTUĞ SEVİNÇLİ/göktug_sevincli_t.jpg" alt="Göktuğ Sevinçli"
                    class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Göktuğ Sevinçli</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/SEMA ÖZTÜRK/sema_ozturk_t.jpg" alt="Sema Öztürk" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Sema Öztürk</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ATILAY ULUIŞIK/Atılay_Uluışık_t.jpg" alt="Atılay Uluışık" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Atılay Uluışık</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/BAŞAK BOZTEPE/basak_boztepe_t.jpg" alt="Başak Boztepe" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Başak Boztepe</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/GULHAN SEN/gulhan_sen_t.jpg" alt="Gülhan Şen" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Gülhan Şen</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/CEREN BENDERLİOĞLU/ceren_benderlioğlu_t.jpg" alt="Ceren Benderlioğlu"
                    class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Ceren Benderlioğlu</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/BURCU KUTLUK/burcu_kutluk_t.jpg" alt="Burcu Kutluk" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Burcu Kutluk</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/DUYGU DEMİRDAĞ/duygu_demirag_t.jpg" alt="Duygu Demirağ" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Duygu Demirdağ</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/SELEN SEVIGEN/selen_sevigen_t.jpg" alt="Selen Sevigen" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Selen Sevigen</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ECE GÖKSU/ece_goksu_t.jpg" alt="Ece Göksu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Ece Göksu</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ASLI TOSYA/asli_tosya_t.jpg" alt="Aslı Tosya" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Aslı Tosya</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/NESLİHAN YAVUZCAN/neslihan_yavuzcan_t.jpg" alt="Neslihan Yavuzcan"
                    class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Neslihan Yavuzcan</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ARZU ÖZCANOĞLU/arzu_ozcanoglu_t.jpg" alt="Arzu Özcanoğlu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Arzu Özcanoğlu</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/SEVİLAY ÖZTÜRK/sevilay_ozturk_t.jpg" alt="Sevilay Öztürk" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Sevilay Öztürk</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ESRA HARMANDA/esra_harmanda_t.jpg" alt="Esra Harmanda" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Esra Harmanda</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/DİDEM UĞURLU/didem_ugurlu_t.jpg" alt="Didem Uğurlu" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Didem Uğurlu</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ARZU BUDAK/arzu_budak_t.jpg" alt="Arzu Budak" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Arzu Budak</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/HAZEL CAMLIDERE/hazal_camlidere_t.jpg" alt="Hazel Çamlıdere" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Hazel Çamlıdere</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/AZRA ECE AKDERİ/Azra_ece_akderi_t.jpg" alt="Azra Ece Akderi" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Azra Ece Akderi</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/ÖZLEM ONAY ARDIYOK/ozlem_onay_ardıyok_t.jpg" alt="Özlem Onay Ardıyok"
                    class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Özlem Onay Ardıyok</h3>
                </figcaption>
            </figure>
            <figure class="celebrity__item">
                <img data-src="/img/celebrity/BUSRA CIN/busra_cin_t.jpg" alt="Büşra Cin" class="celebrity__img lazyload">
                <figcaption class="celebrity__caption">
                    <h3 class="celebrity__subtitle">Büşra Cin</h3>
                </figcaption>
            </figure>


        </div>
    </section>

