
    
<section class="contact wow animated fadeUpDown" id="contact">
        <h1 class="contact__header text-h2 m-header center">İletişim</h1>
        <div class="contact__map">
            <div class="google-map">
                <iframe data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d876.184601154738!2d29.00558854664738!3d41.0479129550148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a41d7f75a9%3A0x994edd2e20674490!2sVega!5e0!3m2!1str!2str!4v1544362496901"
                    frameborder="0" style="border:0" allowfullscreen class="lazyload"></iframe>
            </div>
        </div>
        <div class="contact__address">
            <div class="contact__address-address">

                <h3 class="contact__address-header text-h4 mbs"><i class="fa fa-home"></i>&nbsp;Adres</h3>
                <p class="contact__address-detail text-h4 mbb">Abasağa Mah. Jandarma Mektep Sok. No:5 Beşiktaş -
                    İSTANBUL</p>
            </div>
            <div class="contact__address-phone">

                <h3 class="contact__address-header text-h4 mbs"><i class="fa fa-phone"></i>&nbsp;Telefon</h3>
                <p class="contact__address-detail text-h4 mbb">0212 236 66 66</p>
            </div>
            <div class="contact__address-email">

                <h3 class="contact__address-header text-h4 mbs"><i class="fa fa-envelope"></i>&nbsp;Email</h3>
                <p class="contact__address-detail text-h4 mbb"><a href="mailto:info@vegaajans.com">info@vegaajans.com</a>
                </p>
            </div>
        </div>
        <div class="contact__formwrapper">
            <form class="contact__form">
                <div class="contact__form-name">
                    <!-- <span class="contact__name-header">İsim</span><br> -->
                    <input class="contact__name-input" type="text" name="name" placeholder="İsminiz *">

                </div>

                <div class="contact__form-email">
                    <!-- <span class="contact__email-header">Email</span><br> -->
                    <input class="contact__email-input" type="text" name="surname" placeholder="Email *">

                </div>

                <div class="contact__form-message">
                    <!-- <span class="contact__message-header">Mesajınız</span><br> -->
                    <textarea id="massage" name="message" placeholder="Mesajınız *"></textarea>

                </div>

                <button class="contact__form-btn btn btn--text btn--yellow center">
                    <span>
                        Gönder
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>

            </form>
        </div>
        <div class="contact__social">


            <div class="contact__social-facebook">
                <a href="https://www.facebook.com/vegaajans"> <i class="fa fa-3x fa-facebook-f"></i></a>
            </div>

            <div class="contact__social-twitter">
                <a href="https://twitter.com/VegaAjans"> <i class="fa fa-3x fa-twitter"></i></a>
            </div>

            <div class="contact__social-instagram">
                <a href="https://instagram.com/vegaajans/"> <i class="fa fa-3x fa-instagram"></i></a>
            </div>


            <div class="contact__social-youtube">
                <a href="https://www.youtube.com/channel/UCVTZR_0MsF_Fw1iz_LNUf0Q"> <i class="fa fa-3x fa-youtube"></i></a>
            </div>


            <div class="contact__social-linkedin">
                <a href="http://www.vegaajans.com/#"> <i class="fa fa-3x fa-linkedin"></i></a>
            </div>

        </div>

    </section>


    