
<section class="history wow animated fadeUpDown" id="history">
        <div class="history__left"></div>
        <div class="history__middle">
            <h1 class="history__header text-h2 m-header center">{{historyHeader.header}}</h1>
            <p class="history__desc text-normal center line-height-big mbb">{{historyHeader.content}}
            </p>

            <div class="history__wrapper">

                
                {% for item in historyYears  %}
                <figure class="history__item">
                    <img src="{{item.icon.url}}" alt="{{item.content}}" class="history__img svg">

                    <h3 class="history__subtitle">{{item.year}}</h3>
                    <p>{{item.content}}</p>
                </figure>
                {% endfor %}
                    

               
            </div>

        </div>
        <div class="history__right"></div>
    </section>
