
<section class="history wow animated fadeUpDown" id="history">
        <div class="history__left"></div>
        <div class="history__middle">
            <h1 class="history__header text-h2 m-header center">Tarihçe</h1>
            <p class="history__desc text-normal center line-height-big mbb">Ailemize her yeni katılım ile daha
                güçleniyoruz. Güçlendikçe VEGA’nın hizmet
                yelpazesini genişleterek yolumuza devam ediyor ve daha fazla müşteriyi memnun etme şansına sahip
                oluyoruz…
            </p>

            <div class="history__wrapper">


                <figure class="history__item">
                    <img src="/img/history/embassy.svg" alt="Vega Agency&Events" class="history__img svg">

                    <h3 class="history__subtitle">1999</h3>
                    <p>VEGA Agency&Events kuruldu.</p>

                </figure>
                <figure class="history__item">
                    <img src="/img/history/jacket-elegant-feminine-black-clothes-for-business.svg" alt="Vega Agency&Events"
                        class="history__img svg">

                    <h3 class="history__subtitle">2000</h3>
                    <p>VStyle kuruldu.</p>

                </figure>
                <figure class="history__item">
                    <img src="/img/history/europe.svg" alt="Vega Agency&Events" class="history__img svg">

                    <h3 class="history__subtitle">2007</h3>
                    <p>VEGA Agentur kuruldu.</p>

                </figure>
                <figure class="history__item">
                    <img src="/img/history/meeting.svg" alt="Vega Agency&Events" class="history__img svg">

                    <h3 class="history__subtitle">2007</h3>
                    <p>VEGA Celebrity Management kuruldu.</p>

                </figure>
                <figure class="history__item">
                    <img src="/img/history/speaker-in-a-conference.svg" alt="Vega Agency&Events" class="history__img svg">

                    <h3 class="history__subtitle">2013</h3>
                    <p>VEGA Speaker Agency kuruldu.</p>

                </figure>
                <figure class="history__item">
                    <img src="/img/history/ads.svg" alt="Vega Agency&Events" class="history__img svg">

                    <h3 class="history__subtitle">2017</h3>
                    <p>VEGA Teknoloji kuruldu.</p>

                </figure>
            </div>

        </div>
        <div class="history__right"></div>
    </section>
