
{% load static %}

<header class="header" id="main">
        <!-- Hero -->
        <div class="header__bg">
            <div class="header__bg-overlay">

            </div>
            <video class="header__bg-video" autoplay muted loop>
                
                
                <source src="{{homePage.bgVideoMp4.url}}" type="video/mp4">
                <source src="{{homePage.bgVideoWebm.url}}" type="video/webm">
               
                    
              
                Tarayıcınız desteklemiyor..
            </video>
        </div>

<!-- Nav -->
<nav id="nav" class="navbar nav-transparent">
    <div class="container">

        <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
                <a href="index.html">
                    <img src="{% static 'img/VegaLogo_Main copy.png'%}" alt="Vega Events & Agency Logo" class="logo">
                    <img class="logo-alt" src="{% static 'img/VegaLogo20yil.png' %}" alt="Vega Events & Agency Logo">

                </a>
            </div>
            <!-- /Logo -->

            <!-- Collapse nav button -->
            <div class="nav-collapse">
                <span></span>
            </div>
            <!-- /Collapse nav button -->
        </div>

        <!--  Main navigation  -->
        <ul class="main-nav nav navbar-nav navbar-right">
            <li><a href="#main">Ana Sayfa</a></li>
            <li><a href="#about">Biz</a></li>
            <li><a href="#history">Tarihçe</a></li>
            <li><a href="#team">Ekibimiz</a></li>
            <li><a href="#services">Hizmetlerimiz</a></li>
            <li><a href="#celebrity">Sanatçılarımız</a></li>
            <li><a href="#hr">IK & Ekip Yönetimi</a></li>
            <!-- <li><a href="#portfolio">İşlerimiz</a></li> -->
            <li><a href="#references">Referanslarımız</a></li>
            <li><a href="#contact">İletişim</a></li>
        </ul>
        <!-- /Main navigation -->

    </div>
</nav>
<!-- /Nav -->

        <div class="header__headline wow animated fadeIn slower">
            <div>
                <h2 class="header__headline-h2 text-h3">Hayallerinizi gerçeğe dönüştürüyoruz...</h2>
            </div>
            <div>
                <h1 class="header__headline-h1 text-h1">Vega Agency & Events</h1>
            </div>
            <div class="header__headline-text text-big line-height-big">
                <p>İnanarak ve çalışarak çıktığımız bu yolda, yakaladığımız her başarı, bizi nasıl <b>« Bir
                        Adım
                        Daha
                        İleriye »</b> ulaştırdıysa, biz de attığımız her adımı yeni başarılar elde etmek için
                    en
                    büyük
                    nedenimiz sayıyoruz.
                </p>
                <p>Biliyoruz yolumuz uzun, inanıyoruz ve çalışıyoruz, müşterilerimizi hedeflerine ulaştırırken
                    birlikte yeni başarıları paylaşmak en büyük amacımız…
                </p>
            </div>
            <div><a class="header__headline-btn" href="#about"> Hazır mısınız? O zaman
                    başlayalım...</a>
            </div>
        </div>

    </header>
    
