
<section class="hr wow animated fadeUpDown" id="hr">
        <h1 class="hr__text text-h2 m-header center">IK & Ekip Yönetimi</h1>

        <div class="hr__video">
            <div class="hr__video-iframe-container">
                <iframe class="hr__video-item lazyload" data-src="https://www.youtube.com/embed/20c1bRC769M"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="hr__video-iframe-container">
                <iframe class="hr__video-item lazyload" data-src="https://www.youtube.com/embed/ogym8cuEm_M"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="hr__video-iframe-container">
                <iframe class="hr__video-item lazyload" data-src="https://www.youtube.com/embed/APYbeozhC9M"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="hr__video-iframe-container">
                <iframe class="hr__video-item lazyload" data-src="https://www.youtube.com/embed/GurLAKNpDIg"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <form action="#" class="hr__form" enctype="multipart/form-data" method="POST">
            <div class="hr__form-text u-margin-bottom-medium">
                <h2 class=" text-h3 text-h2 mbb center">
                    Bizimle çalışmak ister misiniz?
                </h2>
            </div>
            <div class="hr__form-group">

                <input type="text" class="hr__form-input" placeholder="Adınız" id="name" required>
                <label for="name" class="hr__form-label">Adınız</label>
            </div>
            <div class="hr__form-group">
                <input type="text" class="hr__form-input" placeholder="Soyadınız" id="surname" required>
                <label for="surname" class="hr__form-label">Soyadınız</label>
            </div>
            <div class="hr__form-group">
                <input type="text" class="hr__form-input" placeholder="T.C. Kimlik Numaranız" id="tc_id">
                <label for="tc_id" class="hr__form-label">T.C. kimlik numaranız</label>
            </div>
            <div class="hr__form-group">
                <input type="number" class="hr__form-input" placeholder="Boyunuz(cm)" id="height">
                <label for="height" class="hr__form-label">Boyunuz</label>
            </div>
            <div class="hr__form-group">
                <input type="number" class="hr__form-input" placeholder="Kilonuz(kg)" id="weight">
                <label for="weight" class="hr__form-label">Kilonuz</label>
            </div>
            <div class="hr__form-group">
                <input type="tel" class="hr__form-input" placeholder="Cep telefonu numaranız" id="cellphone">
                <label for="cellphone" class="hr__form-label">Cep telefonu numaranız</label>
            </div>
            <div class="hr__form-group">
                <input type="text" class="hr__form-input" placeholder="Doğum Tarihiniz" id="birthday">
                <label for="birthday" class="hr__form-label">Doğum tarihiniz</label>
            </div>
            <div class="hr__form-group">
                <input type="email" class="hr__form-input" placeholder="E-mail adresiniz" id="email" required>
                <label for="email" class="hr__form-label">E-mail adresiniz</label>
            </div>
            <div class="hr__form-group u-margin-bottom-medium">
                <div class="hr__form-radio-group">
                    <input type="radio" class="hr__form-radio-input" id="male" name="maleFemale">
                    <label for="male" class="hr__form-radio-label">Erkek</label>
                </div>

                <div class="hr__form-radio-group">
                    <input type="radio" class="hr__form-radio-input" id="female" name="maleFemale">
                    <label for="female" class="hr__form-radio-label">Kadın</label>
                </div>
            </div>
            <div class="hr__form-group">
                <input type="file" class="hr__form-input" placeholder="Dosyalarınızı yükleyiniz" id="file" multiple=True >
                <label for="email" type="file" class="hr__form-label">Dosyalarınız</label>
            </div>
            <div class="hr__form-group">
                <button class="btn btn--yellow btn-center">Gönder </button>
            </div>
        </form>


    </section>
