<section class="numbers wow animated fadeUpDown section sm-padding" id="numbers">

    <!-- Background Image -->
    <div class="bg-img">
        <div class="overlay"></div>
    </div>
    <!-- /Background Image -->

    <!-- Container -->
    <div class="container wide">

        <!-- Row -->
        <div class="row">

            <!-- number -->
            <div class="col-sm-2 col-xs-6">
                <div class="number">
                    <i class="fa fa-users"></i>
                    <h3 class="white-text"><span class="counter">500</span>+</h3>
                    <span class="white-text">Mutlu Müşteri</span>
                </div>
            </div>
            <!-- /number -->

            <!-- number -->
            <div class="col-sm-2 col-xs-6">
                <div class="number">
                    <i class="fa fa-calendar-alt"></i>
                    <h3 class="white-text"><span class="counter">2.530</span>+</h3>
                    <span class="white-text">Farklı Etkinlik</span>
                </div>
            </div>
            <!-- /number -->
            <!-- /number -->
            <div class="col-sm-2 col-xs-6">
                <div class="number">
                    <i class="fas fa-person-booth"></i>
                    <h3 class="white-text"><span class="counter">5.260</span>+</h3>
                    <span class="white-text">Organizasyon</span>
                </div>
            </div>
            <!-- /number -->


            <!-- number -->
            <div class="col-sm-2 col-xs-6">
                <div class="number">
                    <i class="fa fa-tshirt"></i>
                    <h3 class="white-text"><span class="counter">1.000</span>+</h3>
                    <span class="white-text">Kıyafet Tasarımı</span>
                </div>
            </div>
            <!-- /number -->

            <!-- number -->
            <div class="col-sm-2 col-xs-6">
                <div class="number">
                    <i class="fa fa-user-circle"></i>
                    <h3 class="white-text"><span class="counter">200</span>+</h3>
                    <span class="white-text">Farklı Celebrity Menajerliği</span>
                </div>
            </div>
            <!-- /number -->
            <!-- /number -->
            <div class="col-sm-2 col-xs-6">
                <div class="number">
                    <i class="fas fa-coffee "></i>
                    <h3 class="white-text"><span class="counter">350kg</span>+</h3>
                    <span class="white-text">Kahve &#9786;</span>
                </div>
            </div>
            <!-- /number -->
        </div>
        <!-- /Row -->

    </div>
    <!-- /Container -->
</section>
<!-- /Numbers -->