   
<section class="references wow animated fadeUpDown" id="references">
        <h1 class="celebrity__header text-h2 m-header center">Referanslarımız</h1>
        <div class="references__wrapper">
            <img data-src="/img/logo/1907logo.png" alt="1907logo.png" class="references__item lazyload">
            <img data-src="/img/logo/Isuzu-logo-1991-3840x2160.png" alt="Isuzu-logo-1991-3840x2160.png" class="references__item lazyload">
            <img data-src="/img/logo/İstanbul-SEHIR_logo_1.png" alt="İstanbul-SEHIR_logo_1.png" class="references__item lazyload">
            <img data-src="/img/logo/adana-belediye.png" alt="adana-belediye.png" class="references__item lazyload">
            <img data-src="/img/logo/adana-film-festivali.png" alt="adana-film-festivali.png" class="references__item lazyload">
            <img data-src="/img/logo/adidas-logo-grayscale.png" alt="adidas-logo-grayscale.png" class="references__item lazyload">
            <img data-src="/img/logo/akbank.png" alt="akbank.png" class="references__item lazyload">
            <img data-src="/img/logo/alanya-belediye.png" alt="alanya-belediye.png" class="references__item lazyload">
            <img data-src="/img/logo/alfa-romeo.png" alt="alfa-romeo.png" class="references__item lazyload">
            <img data-src="/img/logo/anadolu_Efes_Logo.svg.png" alt="anadolu_Efes_Logo.svg.png" class="references__item lazyload">
            <img data-src="/img/logo/arcelik_logo.png" alt="arcelik_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/arzum-logo.png" alt="arzum-logo.png" class="references__item lazyload">
            <img data-src="/img/logo/astasholding.png" alt="astasholding.png" class="references__item lazyload">
            <img data-src="/img/logo/balıkesir_Büyükşehir_Belediyesi_amblem.png" alt="balıkesir_Büyükşehir_Belediyesi_amblem.png"
                class="references__item lazyload">
            <img data-src="/img/logo/beymen_logo.png" alt="beymen_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/bilkent.png" alt="bilkent.png" class="references__item lazyload">
            <img data-src="/img/logo/bridgestone.png" alt="bridgestone.png" class="references__item lazyload">
            <img data-src="/img/logo/brisa-1.png" alt="brisa-1.png" class="references__item lazyload">
            <img data-src="/img/logo/cabani-Ayakkabi.png" alt="cabani-Ayakkabi.png" class="references__item lazyload">
            <img data-src="/img/logo/carluccios.png" alt="carluccios.png" class="references__item lazyload">
            <img data-src="/img/logo/carrefour-logo.png" alt="carrefour-logo.png" class="references__item lazyload">
            <img data-src="/img/logo/cartier-png-.png" alt="cartier-png-.png" class="references__item lazyload">
            <img data-src="/img/logo/castrol_logo.png" alt="castrol_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/chivas.png" alt="chivas.png" class="references__item lazyload">
            <img data-src="/img/logo/coca-cola.png" alt="coca-cola.png" class="references__item lazyload">
            <img data-src="/img/logo/converse.png" alt="converse.png" class="references__item lazyload">
            <img data-src="/img/logo/çelik-motor.png" alt="çelik-motor.png" class="references__item lazyload">
            <img data-src="/img/logo/damat.png" alt="damat.png" class="references__item lazyload">
            <img data-src="/img/logo/davidoff_logo.png" alt="davidoff_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/dedeman.png" alt="dedeman.png" class="references__item lazyload">
            <img data-src="/img/logo/demsa_logo.png" alt="demsa_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/denizbank.png" alt="denizbank.png" class="references__item lazyload">
            <img data-src="/img/logo/dogtas-Kelebek.png" alt="dogtas-Kelebek.png" class="references__item lazyload">
            <img data-src="/img/logo/eczacıbaşı.png" alt="eczacıbaşı.png" class="references__item lazyload">
            <img data-src="/img/logo/electrolux-1.png" alt="electrolux-1.png" class="references__item lazyload">
            <img data-src="/img/logo/ferrari.png" alt="ferrari.png" class="references__item lazyload">
            <img data-src="/img/logo/ferrero_rocher-logo.png" alt="ferrero_rocher-logo.png" class="references__item lazyload">
            <img data-src="/img/logo/fiat.png" alt="fiat.png" class="references__item lazyload">
            <img data-src="/img/logo/ford.png" alt="ford.png" class="references__item lazyload">
            <img data-src="/img/logo/forum_Bornova_Logo.png" alt="forum_Bornova_Logo.png" class="references__item lazyload">
            <img data-src="/img/logo/fosters.png" alt="fosters.png" class="references__item lazyload">
            <img data-src="/img/logo/garanti-Koza-01.png" alt="garanti-Koza-01.png" class="references__item lazyload">
            <img data-src="/img/logo/gig-Turkey_1281.png" alt="gig-Turkey_1281.png" class="references__item lazyload">
            <img data-src="/img/logo/goodyear.png" alt="goodyear.png" class="references__item lazyload">
            <img data-src="/img/logo/gq.png" alt="gq.png" class="references__item lazyload">
            <img data-src="/img/logo/gulaylar-altin-logo-400x400.png" alt="gulaylar-altin-logo-400x400.png" class="references__item lazyload">
            <img data-src="/img/logo/harvey nichols.png" alt="harvey nichols.png" class="references__item lazyload">
            <img data-src="/img/logo/harvey-nichols.png" alt="harvey-nichols.png" class="references__item lazyload">
            <img data-src="/img/logo/honda_Logo.png" alt="honda_Logo.png" class="references__item lazyload">
            <img data-src="/img/logo/hugo-bosspng.png" alt="hugo-bosspng.png" class="references__item lazyload">
            <img data-src="/img/logo/hurriyet.svg.png" alt="hurriyet.svg.png" class="references__item lazyload">
            <img data-src="/img/logo/hyundai.png" alt="hyundai.png" class="references__item lazyload">
            <img data-src="/img/logo/ikmib-logo.png" alt="ikmib-logo.png" class="references__item lazyload">
            <img data-src="/img/logo/imperial_tobacco_turkiye_logo.png" alt="imperial_tobacco_turkiye_logo.png"
                class="references__item lazyload">
            <img data-src="/img/logo/intema-logo-png-transparent.png" alt="intema-logo-png-transparent.png" class="references__item lazyload">
            <img data-src="/img/logo/ipragazlogo.png" alt="ipragazlogo.png" class="references__item lazyload">
            <img data-src="/img/logo/ithib.png" alt="ithib.png" class="references__item lazyload">
            <img data-src="/img/logo/ithib1.png" alt="ithib1.png" class="references__item lazyload">
            <img data-src="/img/logo/jotun-logo-.png" alt="jotun-logo-.png" class="references__item lazyload">
            <img data-src="/img/logo/jti.png" alt="jti.png" class="references__item lazyload">
            <img data-src="/img/logo/kadikoy_belediyesi_logo.png" alt="kadikoy_belediyesi_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/kale_logo.png" alt="kale_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/kia-logo-2560x1440.png" alt="kia-logo-2560x1440.png" class="references__item lazyload">
            <img data-src="/img/logo/koc-Holding-Logo.png" alt="koc-Holding-Logo.png" class="references__item lazyload">
            <img data-src="/img/logo/koton_logo.png" alt="koton_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/kütahya-logo-5.png" alt="kütahya-logo-5.png" class="references__item lazyload">
            <img data-src="/img/logo/lCW.png" alt="lCW.png" class="references__item lazyload">
            <img data-src="/img/logo/lG_logo.png" alt="lG_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/mandarin-oriental.png" alt="mandarin-oriental.png" class="references__item lazyload">
            <img data-src="/img/logo/mango.png" alt="mango.png" class="references__item lazyload">
            <img data-src="/img/logo/marks-and-sprancer.png" alt="marks-and-sprancer.png" class="references__item lazyload">
            <img data-src="/img/logo/maserati.png" alt="maserati.png" class="references__item lazyload">
            <img data-src="/img/logo/maviJeans.png" alt="maviJeans.png" class="references__item lazyload">
            <img data-src="/img/logo/mey-alkollu-ickiler-cover_original.png" alt="mey-alkollu-ickiler-cover_original.png"
                class="references__item lazyload">
            <img data-src="/img/logo/migros.png" alt="migros.png" class="references__item lazyload">
            <img data-src="/img/logo/miller.png" alt="miller.png" class="references__item lazyload">
            <img data-src="/img/logo/motorola_logo.svg.png" alt="motorola_logo.svg.png" class="references__item lazyload">
            <img data-src="/img/logo/nescafe.png" alt="nescafe.png" class="references__item lazyload">
            <img data-src="/img/logo/nivea-1-logo-png-transparent.png" alt="nivea-1-logo-png-transparent.png" class="references__item lazyload">
            <img data-src="/img/logo/nokia-logo-png.png" alt="nokia-logo-png.png" class="references__item lazyload">
            <img data-src="/img/logo/omasur.png" alt="omasur.png" class="references__item lazyload">
            <img data-src="/img/logo/opel.png" alt="opel.png" class="references__item lazyload">
            <img data-src="/img/logo/opet.png" alt="opet.png" class="references__item lazyload">
            <img data-src="/img/logo/philips_logo_new.svg.png" alt="philips_logo_new.svg.png" class="references__item lazyload">
            <img data-src="/img/logo/phillip-morris.png" alt="phillip-morris.png" class="references__item lazyload">
            <img data-src="/img/logo/pinar_logo.png" alt="pinar_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/pirelli-logo-2560x1440.png" alt="pirelli-logo-2560x1440.png" class="references__item lazyload">
            <img data-src="/img/logo/plus90.png" alt="plus90.png" class="references__item lazyload">
            <img data-src="/img/logo/polo_garage_logo.png" alt="polo_garage_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/porsche-logo-2008-1920x1080.png" alt="porsche-logo-2008-1920x1080.png" class="references__item lazyload">
            <img data-src="/img/logo/prada.png" alt="prada.png" class="references__item lazyload">
            <img data-src="/img/logo/raisa-vanessa.png" alt="raisa-vanessa.png" class="references__item lazyload">
            <img data-src="/img/logo/reality-world.png" alt="reality-world.png" class="references__item lazyload">
            <img data-src="/img/logo/redbull.png" alt="redbull.png" class="references__item lazyload">
            <img data-src="/img/logo/renault.png" alt="renault.png" class="references__item lazyload">
            <img data-src="/img/logo/rotary.png" alt="rotary.png" class="references__item lazyload">
            <img data-src="/img/logo/saab.png" alt="saab.png" class="references__item lazyload">
            <img data-src="/img/logo/saatsaat.png" alt="saatsaat.png" class="references__item lazyload">
            <img data-src="/img/logo/sabanci_logo.png" alt="sabanci_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/samsung_logo.png" alt="samsung_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/sek.png" alt="sek.png" class="references__item lazyload">
            <img data-src="/img/logo/skoda.png" alt="skoda.png" class="references__item lazyload">
            <img data-src="/img/logo/ssangYong.png" alt="ssangYong.png" class="references__item lazyload">
            <img data-src="/img/logo/sunexpress-Logo.png" alt="sunexpress-Logo.png" class="references__item lazyload">
            <img data-src="/img/logo/suzuki_Logo.png" alt="suzuki_Logo.png" class="references__item lazyload">
            <img data-src="/img/logo/tata.png" alt="tata.png" class="references__item lazyload">
            <img data-src="/img/logo/tbs_full_logo_big.png" alt="tbs_full_logo_big.png" class="references__item lazyload">
            <img data-src="/img/logo/temsa.png" alt="temsa.png" class="references__item lazyload">
            <img data-src="/img/logo/tofas.png" alt="tofas.png" class="references__item lazyload">
            <img data-src="/img/logo/tommy_Hilfiger_logo_transparent.png" alt="tommy_Hilfiger_logo_transparent.png"
                class="references__item lazyload">
            <img data-src="/img/logo/total-logo.png" alt="total-logo.png" class="references__item lazyload">
            <img data-src="/img/logo/toyota.png" alt="toyota.png" class="references__item lazyload">
            <img data-src="/img/logo/tuborg.png" alt="tuborg.png" class="references__item lazyload">
            <img data-src="/img/logo/turk-telekom.png" alt="turk-telekom.png" class="references__item lazyload">
            <img data-src="/img/logo/turkcell.png" alt="turkcell.png" class="references__item lazyload">
            <img data-src="/img/logo/turkish-film-festival.png" alt="turkish-film-festival.png" class="references__item lazyload">
            <img data-src="/img/logo/turktraktor_logo.png" alt="turktraktor_logo.png" class="references__item lazyload">
            <img data-src="/img/logo/tursab.png" alt="tursab.png" class="references__item lazyload">
            <img data-src="/img/logo/tuyap.png" alt="tuyap.png" class="references__item lazyload">
            <img data-src="/img/logo/unilever.png" alt="unilever.png" class="references__item lazyload">
            <img data-src="/img/logo/usa-embassy.png" alt="usa-embassy.png" class="references__item lazyload">
            <img data-src="/img/logo/vestel.png" alt="vestel.png" class="references__item lazyload">
            <img data-src="/img/logo/volvo.png" alt="volvo.png" class="references__item lazyload">
            <img data-src="/img/logo/wella.png" alt="wella.png" class="references__item lazyload">
            <img data-src="/img/logo/woongjin.png" alt="woongjin.png" class="references__item lazyload">
            <img data-src="/img/logo/yamaha.png" alt="yamaha.png" class="references__item lazyload">
            <img data-src="/img/logo/zorlu.png" alt="zorlu.png" class="references__item lazyload">
            <img data-src="/img/logo/zubizu.png" alt="zubizu.png" class="references__item lazyload">
        </div>
    </section>


