
<section class="services wow animated fadeUpDown" id="services">
        <div class="services__left"></div>
        <div class="services__middle">
            <h1 class="services__header text-h2 m-header center">Hizmetlerimiz</h1>
            <p class="services__desc text-normal center line-height-big mbb">Amacımız; Yaratıcı, başarı odaklı,
                kusursuz planlamalar yaparak müşteri
                memnuniyetini
                ön planda tutmaktır.
            </p>
            <div class="services__wrapper">

                <figure class="services__item">
                    <img src="/img/services/001-event.svg" alt="VEGA Events" class="services__img svg">

                    <h3 class="services__subtitle">Etkinlik Hizmetleri</h3>
                    <p class="services__desc">Mutlak değer yaratan ölçülebilir sonuçlar</p>

                </figure>

                <figure class="services__item">
                    <a href="#hr">
                        <img src="/img/services/003-users-group.svg" alt="VEGA IK" class="services__img svg">

                        <h3 class="services__subtitle">IK & Ekip Yönetimi</h3>
                        <p class="services__desc">Deneyimli, güleryüzlü ve pozitif ekipler</p>
                    </a>
                </figure>


                <figure class="services__item">
                    <a href="#celebrity">
                        <img src="/img/services/002-user.svg" alt="VEGA Celebrity" class="services__img svg">

                        <h3 class="services__subtitle">Sanatçı & Celebrity Etkinlik Hizmetleri</h3>
                        <p class="services__desc">Türkiye'nin kendi alanlarında en'leri</p>
                    </a>
                </figure>

                <figure class="services__item">
                    <img src="/img/services/004-braces.svg" alt="VEGA Style" class="services__img svg">

                    <h3 class="services__subtitle">Kostüm Tasarım Styling</h3>
                    <p class="services__desc">Size Özel, benzersiz ve sınırları zorlayan</p>

                </figure>
                <figure class="services__item">
                    <img src="/img/services/005-film-editing.svg" alt="VEGA Prodüksiyon" class="services__img svg">

                    <h3 class="services__subtitle">Prodüksiyon</h3>
                    <p class="services__desc">Işık ve görüntünün gücü</p>

                </figure>
                <figure class="services__item">
                    <img src="/img/services/006-brainstorm.svg" alt="VEGA Kreatif" class="services__img svg">

                    <h3 class="services__subtitle">Kreatif</h3>
                    <p class="services__desc">Tamamı hayal gücü ile tasarlandı </p>

                </figure>
                <figure class="services__item">
                    <img src="/img/services/007-social-media.svg" alt="VEGA Digital" class="services__img svg">

                    <h3 class="services__subtitle">Digital Marketing</h3>
                    <p class="services__desc">Son moda,son teknoloji,son trendler</p>

                </figure>
                <figure class="services__item">
                    <img src="/img/services/008-announcement.svg" alt="VEGA Speaker Agency" class="services__img svg">

                    <h3 class="services__subtitle">Speaker Agency</h3>
                    <p class="services__desc">Her biri konusunda uzman</p>

                </figure>
            </div>
        </div>
        <div class="services__right"></div>
    </section>
