
<section class="team" id="team">
    <div class="team__left"></div>
    <div class="team__middle">
        <h1 class="team__head text-h2 m-header center wow animated fadeUpDown">Yönetim Ekibimiz</h1>
        <div class="team__images-team wow animated fadeUpDown">
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/Vildan.jpg" alt="Vildan Mumcu Photo" class="team__image lazyload">
                    <div class="mask">
                        <h3 class="team__text mask__name text-h3">Vildan Mumcu</h3>
                        <h4 class="team__text mask__job text-h4">Co-Founder</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:vildanmumcu@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/Gokhan.jpg" alt="Gökhan Mumcu Photo" class="team__image lazyload">
                    <div class="mask">
                        <h3 class="team__text mask__name text-h3">Gökhan Mumcu</h3>
                        <h4 class="team__text mask__job text-h4">Co-Founder</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:gokhanmumcu@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/ahmet.jpg" alt="Ahmet Berksoy Photo" class="team__image lazyload">
                    <div class="mask">
                        <h3 class="team__text mask__name text-h3">Ahmet Beksoy</h3>
                        <h4 class="team__text mask__job text-h4">Genel Koordinatör</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:ahmetberksoy@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>

            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/fatih.jpg" alt="Fatih Sevinç Photo" class="team__image lazyload">
                    <div class="mask">
                        <h3 class="team__text mask__name text-h3">Fatih Sevinç</h3>
                        <h4 class="team__text mask__job text-h4">IK Koordinatörü</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:fatihsevis@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>

            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/mustafa.jpg" alt="Mustafa Buber Photo" class="team__image lazyload">
                    <div class="mask">

                        <h3 class="team__text mask__name text-h3">Mustafa Buber</h3>
                        <h4 class="team__text mask__job text-h4">Operasyon Müdürü</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:mustafabuber@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/onur.jpg" alt="Onur Şener Photo" class="team__image lazyload">
                    <div class="mask">

                        <h3 class="team__text mask__name text-h3">Onur Şener</h3>
                        <h4 class="team__text mask__job text-h4">İş Geliştirme</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:onursener@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/hatice.jpg" alt="Hatice Hurşutağaoğlu Photo" class="team__image lazyload">
                    <div class="mask">
                        <h3 class="team__text mask__name text-h3">Hatice Hurşutağaoğlu</h3>
                        <h4 class="team__text mask__job text-h4">Muhasebe</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:haticehursutagaoglu@vegaajans.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>

            </figure>
            <figure class="team__imgContainer">
                <div class="img-box">
                    <img data-src=" img/team/serdar.jpg" alt="Serdar Opak Photo" class="team__image lazyload">
                    <div class="mask">
                        <h3 class="team__text mask__name text-h3">Serdar Opak</h3>
                        <h4 class="team__text mask__job text-h4">Hukuk</h4>
                        <div class="mask__social">
                            <a href="#" class="info"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="info"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="info"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="info"><i class="fab fa-linkedin"></i></a>
                            <a href="mailto:serdaropak@gayret.com" class="info"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
            </figure>



        </div>
    </div>
    <div class="team__right"></div>
</section>

