<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/swipebox/swipebox.css" />
    <link rel="stylesheet" href="/css/owl/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Celebrity Detail Page</title>
  </head>

  <body>
    <div class="container-fluid celebrity_detail">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top celebrity_detail__title">
     
        <div class="logo navbar-brand">
          <img
            src="img/VegaLogoAI.png"
            alt="Vega Events & Agency Logo"
            class="header__nav-logo-box vegaLogo"
          />
        </div>
        <div class="home navbar-text">
          <a href="index.html" class="">
          <img
            src="img/home-page.png"
            alt="Vega Events & Agency Logo"
            class="header__nav-logo-box "
          />
        </a>
      </div>
        </nav>
      <div class="celebrity_detail__hero ">
        <div class="pickgradient">
          <img
            src="/img/celebrity/OYLUM TALU/oylum_talu_1.jpg"
            class="hero "
            alt=""
          />
        </div>

        <h1 class="display-4 name">Oylum Talu</h1>
      </div>
      <div class="celebrity_detail__gal">
        <div class="owl-one owl-carousel owl-theme owl-loaded owl-drag">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item active">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_1.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_1.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item active">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_2.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_2.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item active">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_3.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_3.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item active">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_4.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_4.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item active">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_5.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_5.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_6.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_6.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_7.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_7.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_8.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_8.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_9.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_9.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_10.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_10.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_11.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_11.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
              <div class="owl-item">
                <div class="item">
                  <a
                    href="/img/celebrity/OYLUM TALU/oylum_talu_12.jpg"
                    class="swipebox"
                    caption="Oylum Talu"
                  >
                    <img
                      src="/img/celebrity/OYLUM TALU/oylum_talu_12.jpg"
                      alt=""
                      class="img-thumbnail img-fluid"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="celebrity_detail__cv">
        <div class="celebrity_detail__cv-title">
          <h2>OYLUM TALU</h2>
          <h3>Sunucu</h3>
        </div>
        
        <div class="celebrity_detail__cv-text">
          <p>
            Kimya Mühendisi ve Aliağa Rafinerisi’nin İşletme Müdürü olan bir
            baba ve Coğrafya Öğretmeni bir annenin kızı olarak 1976 Yılında
            İzmir’de doğdu. Marmara Üniversitesi Güzel Sanatlar Fakültesi Sinema
            TV Bölümünde okuduktan sonra, akademik kariyerine Kadir Has
            Üniversitesi’nde devam etmiştir. Çok iyi derecede İngilizce
            bilmektedir.
          </p>

          <p>
            Habertürk’te Cumartesi-Pazar sabahları yayınlanan “Burası Hafta
            sonu” ve “Bir Yaz Gecesi Rüyası” programlarını sundu. “Yetenek
            Sizsiniz Türkiye” yarışmasında Hülya Avşar’ın yerine bir dönem
            geçici jüri üyeliği yaptı. Müjdat Gezen Sanat Merkezi’nde Sinema
            Televizyon Bölüm Başkanı olan Oylum Talu, MSM’de televizyon,
            röportaj ve söyleşiler dersi ile T-MBA kapsamında Doğa Koleji’nde
            haftada altı saat öğrencilerle bir araya gelerek İnsan Kaynakları
            dersi veriyor.
          </p>

          <p>
            Başarılı haber spikerliği ve televizyon sunuculuğunun yanında,
            “Televizyon Yıldızları Ödül Töreni”, “Sinpaş GYO Antepia” lansman
            gecesi, “Nokia Lumia 920 ve 820” lansmanı, “BP Türkiye 100’üncü Yıl”
            Kutlaması, AVEA Lansmanı gibi birçok organizasyonda da sunucu olarak
            görev almıştır.
          </p>
          <p>
            En son TV8 ekranlarında hafta içi her gün “Anlatacaklarım Var”
            isimli programla seyircilerinin karşısında olan Talu, 1 Aralık 2014
            itibariyle TV360 ekranlarında Hafta içi Her Gün saat 18:00'de,
            Türkiye’de ve Dünya'da neler olduğunu değerlendirip, renkli, keyifli
            ve çarpıcı konu ve konuklarıyla "Oylum Talu ile İyi
            Akşamlar"programıyla habercilik kariyerine yeni kanalında devam
            etti. Sunucu halen Habertürk TV’de program hazırlayıp sunmaktadır.
            Sunucu aynı zamanda birçok lansman, kongre ve özel organizasyonlarda
            Türkçe ve İngilizce moderatörlük (MC) yapıyor.
          </p>
          <h4>Sunum Dili: Türkçe, İngilizce</h4>
        </div>
      </div>   
     <div class="celebrity_detail__video">
        <div class="owl-two owl-carousel owl-theme">
          <div class="item-video" data-merge="1">
                <iframe
                src="https://www.youtube.com/embed/4lnkZ2eQP3A"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe  src="https://www.youtube.com/embed/6Yhnp3OC9tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe  src="https://www.youtube.com/embed/hCPHv7Rqnfs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe src="https://www.youtube.com/embed/nvnxtwzyWi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe src="https://www.youtube.com/embed/8Fzg_e7Xw2g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe src="https://www.youtube.com/embed/NYOt9SpZ4bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe src="https://www.youtube.com/embed/eGnFC-qho_0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="item-video" data-merge="1">
                <iframe src="https://www.youtube.com/embed/2hl6SQGLuRM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div> 
    </div>
    <footer class="footer">
      <div class="footer__container text-small">
        <p class="copyright">
          © 2019. Vega Agency & Events. All Rights Reserved.
        </p>
      </div>
    </footer>

    <script src="js/swipebox/jquery-2.1.0.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="js/owl/owl.carousel.min.js"></script>
    <script src="js/swipebox/jquery.swipebox.js"></script>
    <script src="js/celebrity_script.js"></script>
  </body>
</html>
